/* tablet
@media all and (min-width: 961px) {

#main{
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(20 ,1fr);
}
#main{
    background-color: #2196F3;
    width: 1024px;
    height: 1366px;
}
#a{     
    grid-area: 1 / 1 / 5 / -1;
}
#i{
    grid-area: 18 / 1 / 21 / -1;
}
#b{
    grid-area: 5 / 1 / span 3 /-1;
}
#c {
    grid-area: 8 / 1 / span 5 / 7 ;
}
#d{
    grid-area: 8 / 7 / span 5  /span 7;
} 
#e{
    grid-area: 8 / 14 / span 5/ -1;
}
#f{
    grid-area: 13 / 1 / span 5 / 7;
}
#g{
    grid-area: 13 / 7 / span 5  /span 7;
}
#h{
    grid-area: 13 / 14 / span 5/ span 7;
}
#main > div{
    display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
}
#main {
    font: size 50px;
}
#a{
    background-color: rgb(138, 197, 21)
}
#b{
    background-color: wheat;
} 
#h{
    background-color:rgb(212, 212, 65);
}
#g{
    background-color: hotpink;
}
#f{
    background-color:rgba(147, 204, 147, 0.774);
}
#e{
    background-color:greenyellow;
}
#c{
    background-color: turquoise;
}
#d{
    background-color: blueviolet;
}
#i{
    background-color: #ffff00
}
}









@media all and (min-width: 768px) and (max-width: 960px){
#main{
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(10 ,auto);
}
#main{
    background-color: #2196F3;
    width: 960px;
    height: 600px;
}
#a{     
    grid-column: 1 / -1;

}
#i{
    grid-area: 6 / 1 / 7 / -1;
}
#b{
    grid-area: 2 / 1 / 6 /3;
}
#c {
    grid-area: 2 / 3 / 4 / 7;
}
#d{
    grid-area: 2 / 7 / 4 /-1;
}
#e{
    grid-area: 4 / 3 / 6/ 5;
}
#f{
    grid-area: 4 / 5 / 6 / 7;
}
#g{
    grid-area: 4 / 7 / span 2 / span 2; 
}
#h{
    grid-area: 4 / 9 / span 2/ span 2
}
#main > div{
    display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
}
#main {
    font: size 50px;
}
#a{
    background-color: rgb(144, 173, 84)
}
#b{
    background-color: rgb(189, 175, 151);
} 
#h{
    background-color:rgb(212, 212, 65);
}
#g{
    background-color: rgb(184, 130, 157);
}
#f{
    background-color:rgba(18, 95, 18, 0.774);
}
#e{
    background-color:rgb(201, 255, 121);
}
#c{
    background-color: rgba(137, 177, 173, 0.281);
}
#d{
    background-color: rgba(146, 123, 168, 0.377);
}
#i{
    background-color: #ffff0065
}
}










@media all and  (min-width: 0px)and (max-width: 767px){
    #main{
        margin: 0 auto;
        display: grid; 
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(8, 75px 150px 125px 125px 240px 240px 240px 240px 1tr );
    }
    #main{
        width: 480px;
        height: 800px;
    }
 
    #a{     
        width: 480px;
        height: 75px;
       grid-column: 1 / -1;

    }
    #b{
        width: 480px;
        height: 150px;
        grid-column: 1 / -1;
    }
    #c{
        width: 480px;
        height: 125px;
        grid-column: 1 / -1;
    }
    #d{
        width: 480px;
        height: 125px;
        grid-column: 1 / -1;
    } 
    #e {
        grid-area: 5 / 1 / 6 / 2;
        width: 240px;
        height: 250px;

    }
    #f{
        grid-area: 5 / 2 / 6 / 3;
        width: 240px;
        height: 250px;
    }
    #g{
        grid-area: 6 / 1 / 7 / 2 ;
        width: 240px;
        height: 250px;
    }
    #h{
        grid-area: 6 / 2 / 7 / 3; 
        width: 240px;
        height: 250px;
    }
   #i{
       width: 100%;
       height: 480px;
        grid-column: 1 / -1 ;
   }
    
    #main > div{
        display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
    }
    #main {
        font: size 50px;
    }
    #a{
        background-color: rgb(95, 134, 17)
    }
    #b{
        background-color: rgb(143, 133, 114);
    } 
    #h{
        background-color:rgb(212, 212, 65);
    }
    #g{
        background-color: rgb(148, 64, 106);
    }
    #f{
        background-color:rgba(88, 185, 88, 0.774);
    }
    #e{
        background-color:rgba(137, 177, 78, 0.712);
    }
    #c{
        background-color: rgba(21, 245, 222, 0.555);
    }
    #d{
        background-color: rgb(96, 70, 119);
    }
    #i{
        background-color: #616100
    }
}
    




 */
