/*tablet*/
@media all and (min-width: 961px) {
    #a{
        background-color: #2CB2BA;
    }
    #b{
        background-color: #46B3A8;
    } 
    #h{
        background-color:#60B497;
    }
    #g{
        background-color: #7AB585;
    }
    #f{
        background-color:#94B674;
    }
    #e{
        background-color:#ADB662;
    }
    #c{
        background-color: #C7B750;
    }
    #d{
        background-color: #E1B83F;
    }
    #i{
        background-color: #FBB92D;
    }
}
 
/*desktop*/
@media all and (min-width: 768px) and (max-width: 960px){
    #a{
        background-color: #FFFBAF;
    }
    #b{
        background-color: #F5E1B7;
    } 
    #h{
        background-color: #EAC7BF;
    }
    #g{
        background-color: #E0ADC6;
    }
    #f{
        background-color: #D593CE;
    }
    #e{
        background-color: #CB78D6;
    }
    #c{
        background-color: #C05EDE;
    }
    #d{
        background-color: #B644E5;
    }
    #i{
        background-color: #AB2AED;
    }
}
    
/* mobile */
@media all and  (min-width: 0px)and (max-width: 767px){
    #a{
        background-color:#83489E;
    }
    #b{
        background-color: #8E448B;
    } 
    #h{
        background-color:#944282;
    }
    #g{
        background-color: #9C3F74;
    }
    #f{
        background-color:#A43C66;
    }
    #e{
        background-color:#AC3958;
    }
    #c{
        background-color: #B5364A;
    }
    #d{
        background-color: #BD333C;
    }
    #i{
        background-color:#C5302E;
    }
}        
    
    
    
    
    
    